name=TEST
slidingWindowSize=2
permittedNumberOfCallsInHalfOpenState=3
slowCallDurationThreshold=4
minimumNumberOfCalls=5
failureRateThreshold=6
slowCallRateThreshold=7
waitDurationInOpenState=8
maxDurationOpenInHalfOpenState=9

PREFIX.name=TEST_PREFIX
PREFIX.slidingWindowSize=20
PREFIX.permittedNumberOfCallsInHalfOpenState=30
PREFIX.slowCallDurationThreshold=40
PREFIX.minimumNumberOfCalls=50
PREFIX.failureRateThreshold=60
PREFIX.slowCallRateThreshold=70
PREFIX.waitDurationInOpenState=80
PREFIX.maxDurationOpenInHalfOpenState=90